<div class="container">
  <div class="panel panel-primary">
     <div class="panel-heading">
       <h2>Books List</h2>
       <div class="row mb-3">
         <div class="col-10">
          <div class="row">
            <div class="col-3">
              <input
                appAutoFocusDirective
                class="form-control font-italic mb-0 h-100"
                style="font-size: 0.9em;"
                type="text"
                #searchInput
                id="searchInp"
                placeholder="Search by name or author">
            </div>
            <div class="col-9 px-0">

            </div>
          </div>

          <!-- <div class="row">
            <div class="col-3">
              <input
                appAutoFocusDirective
                class="form-control font-italic mb-0 h-100"
                style="font-size: 0.9em;"
                type="text" #input
                (keyup.enter)="searchBook(keywords)"
                name="keywords" [(ngModel)]="keywords"
                placeholder="Search by name or author">
            </div>
            <div class="col-9 px-0">

            </div>
          </div> -->

           <!-- <div class="row">
             <div class="col-3">
               <input class="form-control font-italic mb-0 h-100" style="font-size: 0.9em;" type="text" name="keywords" [(ngModel)]="keywords" (keyup.enter)="searchBook(keywords)" placeholder="Search by name or author">
             </div>
             <div class="col-9 px-0">
               <button class="btn btn-success" type="submit" (click)="searchBook(keywords)">Search</button>
             </div>
           </div> -->
         </div>
         <div class="col-2 mr-0 text-right">
           <button class="btn btn-outline-info" (click)="deleteMultipleBooks()">Remove Selected</button>
         </div>
       </div>
     </div>
     <div class="panel-body">
       <table class="table table-striped table-hover table-bordered hover" >
         <thead class="thead-dark">
           <tr class="text-center">
              <th><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>
              <th scope="col" style="width:5%">
                <span>No.</span
                ><i
                    class="fa fa-sort float-right mt-1"
                    (click)="sortBookes('id')"
                ></i>
              </th>
              <th scope="col" style="width: 17%">
                <span>Name</span
                ><i
                    class="fa fa-sort float-right mt-1"
                    (click)="sortBookes('name')"
                ></i>
              </th>
              <th scope="col" style="width: 15%">
                <span>Author</span
                ><i
                    class="fa fa-sort float-right mt-1"
                    (click)="sortBookes('author')"
                ></i>
              </th>
              <th scope="col" style="width: 12%">
                <span>Category</span
                ><i
                    class="fa fa-sort float-right mt-1"
                    (click)="sortBookes('category.name')"
                ></i>
              </th>
              <th scope="col" style="width: 15%">
                <span>Published Date</span
                ><i
                    class="fa fa-sort float-right mt-1"
                    (click)="sortBookes('publishedDate')"
                ></i>
              </th>
              <th scope="col" style="width: 17%">Description</th>
              <th scope="col" style="width: 9%">Price</th>
              <th scope="col" style="width: 12%">Action</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let book of books;let i=index">
            <td class="text-center"><input type="checkbox" value="{{book.id}}" [(ngModel)]="books[i].checked"></td>
            <td class="text-center">
              {{
                calculateTableIndex.calculateIndex(pagingArgs,totalPages,totalElements,i)
              }}
            </td>
            <td class="pl-2">
               <div tooltip={{book.name}} *ngIf="book.name?.length > 20; else name">
                 <a routerLink="" (click)="bookDetails(book.id)">{{book.name | slice:0:16}}...</a>
               </div>
               <ng-template #name >
                 <div tooltip={{book.name}}>
                   <a  routerLink="" (click)="bookDetails(book.id)">{{book.name}}</a>
                 </div>
               </ng-template>
             </td>
             <td class="pl-2">
               <div tooltip={{book.author}} *ngIf="book.author?.length >15; else author">
                 {{book.author | slice:0:12}}...
               </div>
               <ng-template #author>
                 <div tooltip={{book.author}}>
                   {{book.author}}
                 </div>
               </ng-template>
             </td>
             <td class="pl-2">
               <div tooltip={{book.category.name}}>{{book.category.name}}</div>
             </td>
             <td class="pl-2 text-center">
               <div tooltip={{book.publishedDate}}>{{book.publishedDate}}</div>
             </td>
             <td class="pl-2">
               <div class="text-left"tooltip={{book.description}} *ngIf="book.description?.length >20; else elseBlock">
                 {{book.description | slice:0:16}}...
               </div>
               <ng-template #elseBlock >
                 <div tooltip={{book.description}}>
                   {{book.description}}
                 </div>
               </ng-template>
             </td>
            <td class="text-right pr-1">
              <div tooltip={{book.price}}>
                {{book.price | number:'1.0-0' }}
              </div>
            </td>
             <td class="text-center px-0">
               <button type="button" (click)="bookDetails(book.id)" class="btn px-1 font-weight-bolder py-0" tooltip="details">
                <i class="fas fa-info-circle text-info"></i>
               </button>
               <button type="button" (click)="updateBook(book.id)" class="btn mx-2 px-1 font-weight-bolder  py-0" tooltip="update">
                <i class="fas fa-edit text-warning"></i>
               </button>
               <button type="button" (click)="deleteBook(book.id)" class="btn  px-1 font-weight-bolder  py-0" tooltip="delete">
                <i class="far fa-trash-alt text-danger"></i>
               </button>
             </td>
           </tr>
         </tbody>
       </table>
     </div>
     <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
      <p style="color: white">Please Wait. </p>
     </ngx-spinner>
     <div class="alert alert-danger text-danger" *ngIf="books && books.length == 0">
      <i class="fa fa-exclamation-circle mr-2"></i>
      {{
          pagingArgs.query != ""
              ? "Hmmm. We 're not getting any results. Try another search"
              : "This list is empty"
      }}
     </div>
     <app-pagination
          *ngIf="totalPages > 0"
          (action)="reloadData($event)"
          [(totalPages)]="totalPages"
          [(pagingArgs)]="pagingArgs"
          [(totalElements)]="totalElements"
      >
      </app-pagination>

   </div>
 </div>









<!-- <div class="container">
  <div class="panel panel-primary">
     <div class="panel-heading">
       <h2>Books List</h2>
       <div class="row mb-3">
         <div class="col-10">

          <div class="row">
            <div class="col-3">
              <input
                appAutoFocusDirective
                class="form-control font-italic mb-0 h-100"
                style="font-size: 0.9em;"
                type="text" #input
                (keyup.enter)="searchBook(keywords)"
                name="keywords" [(ngModel)]="keywords"
                placeholder="Search by name or author">
            </div>
            <div class="col-9 px-0">
            </div>
          </div>
         </div>
         <div class="col-2 mr-0 text-right">
           <button class="btn btn-outline-info" (click)="deleteMultipleBooks()">Remove Selected</button>
         </div>
       </div>
     </div>
     <div class="panel-body">
       <table class="table table-striped table-hover table-bordered hover" >
         <thead class="thead-dark">
           <tr class="text-center">
             <th><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>
             <th>Name</th>
             <th>Author</th>
             <th>Category</th>
             <th>Published Date</th>
             <th>Description</th>
             <th>Price</th>
             <th>Action</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let book of books | slice: (page-1) * limit : page * limit;let i=index">
            <td class="text-center"><input type="checkbox" value="{{book.id}}" [(ngModel)]="books[i].checked"></td>
            <td width="200" class="pl-2">
               <div tooltip={{book.name}} *ngIf="book.name?.length > 20; else name">
                 <a routerLink="" (click)="bookDetails(book.id)">{{book.name | slice:0:16}}...</a>
               </div>
               <ng-template #name >
                 <div tooltip={{book.name}}>
                   <a  routerLink="" (click)="bookDetails(book.id)">{{book.name}}</a>
                 </div>
               </ng-template>
             </td>
             <td width="180" class="pl-2">
               <div tooltip={{book.author}} *ngIf="book.author?.length >15; else author">
                 {{book.author | slice:0:12}}...
               </div>
               <ng-template #author>
                 <div tooltip={{book.author}}>
                   {{book.author}}
                 </div>
               </ng-template>
             </td>
             <td class="pl-2">
               <div tooltip={{book.categoryName}}>{{book.categoryName}}</div>
             </td>
             <td class="pl-2">
               <div tooltip={{book.publishedDate}}>{{book.publishedDate}}</div>
             </td>
             <td width="200" class="pl-2">
               <div class="text-left"tooltip={{book.description}} *ngIf="book.description?.length >20; else elseBlock">
                 {{book.description | slice:0:16}}...
               </div>
               <ng-template #elseBlock >
                 <div tooltip={{book.description}}>
                   {{book.description}}
                 </div>
               </ng-template>
             </td>
             <td width="75" class="text-right pr-1">
               <div tooltip={{book.price}} *ngIf="book.price>999000; else price">
                 {{book.price | number:'1.0-0' | slice:0:6}}...
               </div>
               <ng-template #price >
                 <div tooltip={{book.price}}>
                   {{book.price | number:'1.0-0' }}
                 </div>
               </ng-template>
             </td>

             <td class="text-center px-0">
               <button type="button" (click)="bookDetails(book.id)" class="btn px-1 font-weight-bolder py-0" tooltip="details">
                <i class="fas fa-info-circle text-info"></i>
               </button>
               <button type="button" (click)="updateBook(book.id)" class="btn mx-2 px-1 font-weight-bolder  py-0" tooltip="update">
                <i class="fas fa-edit text-warning"></i>
               </button>
               <button type="button" (click)="deleteBook(book.id)" class="btn  px-1 font-weight-bolder  py-0" tooltip="delete">
                <i class="far fa-trash-alt text-danger"></i>
               </button>
             </td>
           </tr>
         </tbody>
       </table>
     </div>

     <div class="row display-container px-0">
       <div class="col-sm-12 col-md-4">
         <label>Show</label>
         <select class="select" [(ngModel)]="limit" (change)="changee($event)">
           <option [value]="6">6</option>
           <option [value]="8">8</option>
           <option [value]="10">10</option>
           <option [value]="totalItem">All</option>
         </select>
       </div>
       <div class="paging">
         <div class="col-sm-12 col-md-5 text-right  paging-display" style="display: contents;">
           <label class="pt-2" *ngIf="page==1&&(page*limit)<totalItem && books?.length!=0">Showing: 1 - {{page*limit}} of
               {{totalItem}} items</label>
           <label class="pt-2"*ngIf="page!=1&&(page*limit)<totalItem && books?.length!=0">Showing: {{((page-1)*limit)+1}} -
               {{page*limit}} of
               {{totalItem}} items</label>
           <label class="pt-2"*ngIf="page!=1&&(page*limit)>=totalItem && books?.length!=0">Showing: {{((page-1)*limit)+1}} -
               {{totalItem}} of
               {{totalItem}} items</label>
           <label class="pt-2"*ngIf="page==1&&(page*limit)>totalItem && books?.length!=0">Showing: 1 - {{totalItem}} of
               {{totalItem}} items</label>
           <label class="pt-2"*ngIf="page==1&&(page*limit)==totalItem && books?.length!=0">Showing: 1 - {{totalItem}} of
             {{totalItem}} items</label>
           <label class="pt-2"*ngIf="books?.length==0">Showing: 0 items</label>
         </div>
         <div class="col-sm-12 col-md-3">
           <div class="dataTables_paginate paging_simple_numbers" style="padding: 0;">
             <ngb-pagination [(page)]="page" [pageSize]="limit" [collectionSize]="totalItem" [boundaryLinks]="true">
               <ng-template ngbPaginationPages let-page let-pages="pages">
                 <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                   <div class="form-group d-flex flex-nowrap px-2">
                     <label id="paginationInputLabel" for="paginationInput"
                         class="col-form-label mr-2 ml-1">Trang</label>
                     <input  (keydown.Tab)="onKey($event);false;" #i type="text" inputmode="numeric"
                         pattern="[0-9]*" class="form-control custom-pages-input" id="paginationInput"
                         [value]="page" (keyup.enter)="selectPage(i.value)" (blur)="selectPage(i.value)"
                         (input)="formatInput($any($event).target)"
                         aria-labelledby="paginationInputLabel paginationDescription"
                         style="width: 2.5rem; height: 34px;" />
                     <span id="paginationDescription" class="col-form-label text-nowrap px-2">
                         / {{pages.length}}</span>
                   </div>
                 </li>
               </ng-template>
             </ngb-pagination>
           </div>
         </div>
       </div>
     </div>

   </div>
 </div> -->
