select{
    width: 80px;
}
.showing p{
    margin-top: 0.3rem;
}

.showing select{
    margin-left: -0.5rem;
}

.pagination p{
    color: gray;
    font-size: 93%;
}
.size{
    margin-left: 0.2rem;
}
.size p {
    margin-top: 0.7rem;
}

.size select {
    margin-left: 0.5rem;
}
.showing{
    margin-top: 0.8rem;
}

/* .paging{
    position: absolute !important;
    right: 1rem  !important;
} */
/* .showing{
    font-size: 13px;
    margin-top: 8px;
    position: absolute;
    color: black;
    left: -1rem;
}

 .specific-page input{
    width: 50px;
    right: 1rem;
    position: absolute;
} */
/*
.specific-page p{
    font-size: 13px;
    margin-top: 8px;
    position: absolute;
    color: black;
    right: 4.5rem;
}
 */
