/* @import "~bootstrap/dist/css/bootstrap.css"; */

/* "src/bootstrap.min.css", */

.hover:hover{
  cursor: pointer;
}
a {
  text-decoration: underline;
}
thead th {
  padding: 1px !important;
  height: 30px;
}

tbody td {
  padding: 1px !important;
  height: 24px;
}
